* {
  margin: 0;
  padding: 0;
  top: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

/* Custom Scroll-bar */

/* width */
::-webkit-scrollbar {
  width: 2.8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.home-page {
  background: url(../Images/bg.svg) no-repeat;
  background-size: cover;
  background-position: bottom -220px right 0px;
  /* background: var(--bg-color); */
  position: relative;
  width: 100vw;
  height: 100vh;
  /* clip-path: ellipse(); */
}

.navbar {
  background-size: cover;
  position: sticky;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
  height: 100px;
}

.right-nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.logo {
  position: relative;
  top: 15px;
}
/* Rest of the logo css, check animation.css */

.right-nav h1 {
  margin: 20px 0px;
  font-weight: bold;
  width: max-content;
  font-size: 2.8rem;
  font-family: var(--primary-font);
  cursor: pointer;
  text-shadow: 5px 1px 0px #008c86, 4px 1px 0px #05636d;
  -webkit-text-fill-color: transparent;
}

.menus {
  display: flex;
}

.menus ul {
  display: flex;
}
.menus ul li:hover {
  transform: scale(1.15);
  transition-duration: 0.3s;
  color: var(--secondary-color);
}

.menus ul li {
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 0px 20px;
  color: var(--primary-color);
}

.home-contents {
  
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  overflow: hidden;
  height: calc(100vh - 100px);
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 40vw;
  left: 35px;
}

.intro h1 {
  margin: 15px 0px;
  font-family: var(--primary-font);
  font-size: 3rem;
}

.intro span {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;
}
.home-Get-Started-btn {
  width: 180px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--btn-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  top: calc( 40vw - 200px); /* 30vw is kept as .intro height is 30 vw don't change it*/
}
#get-started {
  font-size: 22px;
  color: white;
  font-family: var(--primary-font);
}

.home-Get-Started-btn:hover #get-started {
  /* color: var(--primary-color); */
  color:black;
}
.home-Get-Started-btn:hover {
  background-color: var(--gradient-color);
  color: var(--tertiary-color);
  border: solid 2px black;
  /* border: solid 2px var(--btn-color); */
  cursor: pointer;
}

.home-page-image {
  width: 400px; /* it is on the basics of Standerd resolution monitor, you are using higher resolution monitor don't Change it*/
  height: 400px; /* it is on the basics of Standerd resolution monitor, you are using higher resolution monitor don't Change it*/
}

.services,
.pricings,
.about,
.contact {
  position: absolute;
  z-index: 2;
  right: -100vw;
  width: 92vw;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  transition-duration: 1s;
  display: block;
}
.servicesLeft,
.pricingsLeft,
.aboutLeft,
.contactLeft {
  position: absolute;
  z-index: 2;
  left: -8vw;
  width: 8vw;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  transition-duration: 1s;
  display: block;
}

.container1 {
  background-color: rgba(0, 19, 16, 0.938);
  width: 8vw;
  height: 100vh;
  position: relative;
}
.compony-name {
  transform-origin: 0vw 0vw;
  transform: rotate(-90deg) translate(-500px, +20px);
  position: absolute;
  font-size: 55px;
  text-shadow: 5px 1px 0px #008c86, 4px 1px 0px #04434a;
  width: 40vw;
  border: 1px solid rgba(255, 0, 0, 0);
  font-family: var(--primary-font);
  background-image: url("../Greengif.gif");
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container2 {
  width: 92vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.945);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.container2-1 {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.close2,
.close3,
.close4,
.close5 {
  width: 40px;
  height: 40px;
  background-image: url("../Images/cross.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 20px;
  top: 10px;
}
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.container2-2 {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../Images/menuBG.png");
  background-size: cover;
}
