@media only screen and (max-width: 991px) {
    /* start of large tablet styles */
    .home-Get-Started-btn {
        top: calc( 35vw - 60px);
    }
    .menus{
        margin: 20px auto;
    }
    .company-name {
        transform-origin: 0.5vw 0.5vw;
    }
    .home-page{
        background-position: bottom -130px right 0px;
    }
    }