@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
* {
  top: 0;
  text-decoration: none;
  list-style-type: none;
}

.sub-heading {
  line-height: 1.5;
}
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
  left: 100px;
  height: 32vh;
  width: 32vw;
}
.intro h1 {
  font-family: Bitter, serif;
  font-size: 50px;
}
.intro span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-contents {
  display: flex;
  justify-content: space-between;
}
.top-bar h1 {
  width: max-content;
  font-size: 40px;
  font-family: Bitter, serif;
  color: var(--primary-color);
  margin-top: 15px;
  cursor: pointer;
}
.menus {
  position: relative;
  top: 40px;
  right: 40px;
}

.menus ul {
  display: flex;
  /* width: 562px; */
}
.menus ul li:hover {
  font-size: 20px;
}

.menus ul li {
  cursor: pointer;
  font-family: Bitter, serif;
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  padding: 0px 20px;
}
.menus ul li a{
  color: var(--primary-color);
}
body {
  background-color: var(--bg-color);
  /* background: url("../Images/bg.jpg")no-repeat; */
  margin: auto;
}

.top-bar {
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: var(--bg-color);
  /* background: url("../Images/bg.jpg") no-repeat; */
}

/* ----------------------------------------idea-bulb-lighting--------------------------------------------------- */
#idea-light-left {
  animation: view 0.5s ease-in-out infinite;
}

#idea-light-mid {
  animation: view 0.5s ease-in-out infinite;
}

#idea-light-right {
  animation: view 0.5s ease-in-out infinite;
}
#shapes {
  animation: shapes 3s ease-out infinite;
}

@keyframes view {
  100% {
    display: block;
    transform: rotate(0.5deg);
    animation-fill-mode: forwards;
  }
}
@keyframes shapes {
  20% {
    display: block;
    transform: rotate(0.5deg);
    animation-fill-mode: both;
  }
  100% {
    display: block;
    transform: rotate(0.1deg);
    animation-fill-mode: both;
  }
}
.right-side-image svg {
  width: 62vw;
  height: 80vh;
}
/* ----------------------------------------right-side-image----------------------------------------- */
.right-side-image {
  display: flex;
  position: relative;
  top: 3px;
  left: 65px;
  /* left: 600px; */
}
/* ------------------------------------------------------------------------------------------- */

/* ----------------------------------------logo-design---------------------------------------------- */
.logo {
  position: relative;
  top: 14px;
  display: flex;
}
.logo svg {
  cursor: pointer;
  position: relative;
  /* background-color: yellow; */
  height: 120px;
  width: 120px;
  animation: logo 5s ease-in-out infinite;
  border: 0px solid red;
  animation-direction: alternate-reverse;
}
@keyframes logo {
  0% {
    top: -20px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: -20px;
  }
}
#aICweZ1x {
  position: relative;
  top: 0px;
  animation-name: Leye;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes Leye {
  0% {
    transform: translate(-2px, 4px);
  }
  12% {
    transform: translate(-3px, 6px);
  }
  24% {
    transform: translate(-2px, 4px);
  }
  36% {
    transform: translate(0px, 0px);
  }
  48% {
    transform: translate(2px, -4px);
  }
  60% {
    transform: translate(3px, -6px);
  }
  91% {
    transform: translate(2px, -4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
#bBltMnvAr {
  position: relative;
  top: 0px;
  animation-name: Leyeball;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes Leyeball {
  0% {
    transform: translate(-2px, 4px);
  }
  12% {
    transform: translate(-3px, 6px);
  }
  24% {
    transform: translate(-2px, 4px);
  }
  36% {
    transform: translate(0px, 0px);
  }
  48% {
    transform: translate(2px, -4px);
  }
  60% {
    transform: translate(3px, -6px);
  }
  91% {
    transform: translate(2px, -4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

#apepMlj9j {
  position: relative;
  top: 0px;
  animation-name: Reye;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes Reye {
  0% {
    transform: translate(-2px, 4px);
  }
  12% {
    transform: translate(-3px, 6px);
  }
  24% {
    transform: translate(-2px, 4px);
  }
  36% {
    transform: translate(0px, 0px);
  }
  48% {
    transform: translate(2px, -4px);
  }
  60% {
    transform: translate(3px, -6px);
  }
  91% {
    transform: translate(2px, -4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
#b5jSZYRnbO {
  position: relative;
  top: 0px;
  animation-name: Reyeball;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes Reyeball {
  0% {
    transform: translate(-2px, 4px);
  }
  12% {
    transform: translate(-3px, 6px);
  }
  24% {
    transform: translate(-2px, 4px);
  }
  36% {
    transform: translate(0px, 0px);
  }
  48% {
    transform: translate(2px, -4px);
  }
  60% {
    transform: translate(3px, -6px);
  }
  91% {
    transform: translate(2px, -4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* ------------------------------------------------------------------------------------------- */
